<%= form_with(model: [post, comment]) do |form| %>
    
    <div class="mb-6">
      <%= form.label :Contenu %>
      <%= form.text_area :content, placeholder: "contenu", class: "input form-control" %>
    </div>
    <br>
    <div class="actions">
      <%= form.submit %>
    </div>
<% end %>