<div class="container">
  <div class="row-top">
    <div class="col-md-4"> <strong><h1>Students Helper</h1></strong>
       <strong><p class="objectif">It is a tool for learning and sharing knowledge in schools and universities.</p></strong> 
       <img src="https://image.shutterstock.com/image-photo/back-view-boy-stretches-after-600w-700226077.jpg" class="center-block", style="width: 350px;">
    </div>
    <div class="col-md-5"> <strong><h3>About Students Helper</h3></strong>
       <strong><p>Can Help to:</p></strong>
        <ol>
            <li>Popularization of research work;</li>
            <li>Appropriation of work already done in a specific area in order to avoid doing the same things;</li>
            <li>Collect contributions and suggestions from specialists in order to better orient research work;</li>
            <li>Share the exam tests, the courses (texts, images, videos etc ....) and scientific opinions;</li>
            <li>Learn the concepts of courses from different media (texts, images, videos etc ...);</li>
            <li>Solving specific problems of pupils and students;</li>
            <li>Limit the use of home tutors for students;</li>
            <li>Establish contacts between learners (pupils, students) on the one hand and between students and teachers on the other hand;</li>
            <li>Facilitate the collection of exam tests and any other didactic support by pupils and learners;</li>
        </ol>
    </div>
    <div class="col-md-3">
        <img src="https://st.depositphotos.com/1011643/2013/i/600/depositphotos_20130797-stock-photo-group-of-african-university-students.jpg" class="center-block", style="width: 400px;">
    </div>
  </div>
  <div class="row-back"> 
    
    <div class="col-md-5"> <strong><h3>How to use Students Helper</h3></strong>
        <ul>
            <li><strong>Sign up</strong> to complete the registration form. Do not forget to mention his status (Pupil, Student or Teacher);</li>
            <li>For registration, Email and Password can't be blank;</li>
            <li><strong>Login</strong> with the correct information;</li>
            <li><strong>New Post </strong>for a new publication with a title, content and possibility of associating any type of file (PDF, Word, Excel, Photo, video etc ...);</li>
        </ul>
    </div>
    <div class="col-md-2"> 
        <img src="https://www.graphicsprings.com/filestorage/stencils/a85b7c149ea786ceeac77c4fa7fd7a56.png?width=500&height=500" class="center-block", style="width: 200px;">
    </div>
    <div class="col-md-5">
        <ul>
            <li><strong>Post List</strong> allows you to access all published posts;</li>
            <li><strong>Show</strong> allows you to see the details of a post;</li>
            <li>On the post details page, you can choose as favorites, comment on the post and have access to other users' comments;</li>
            <li><strong>User List</strong> allows you to see the list of all users in order to facilitate exchanges;</li>
            <li><strong>Admin Screen</strong> is only accessible to administrator users and allows you to manage all models;</li>
            <li>The <strong>Back</strong> button allows you to go back or return to the list of posts;</li>
        </ul>
    </div>
  </div>
</div>

