<footer class= "fixed-bottom mt-3">
   <p> Students Helper, Application de partage de documents et connaissances notionnelles / DIVE INTO CODE​</p>
   <p>© Octobre 2021 by Comlan Ephrem TOSSAVI.</p>
</footer>