// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";


html {
    height: 100%;
  } 
  
  body {
    height: 100%;
    width: 400px;
    padding: 0;
    margin-left: 10px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
  
  }
  
  header {
      width: 340%;
      background-color: ghostwhite;
      height: 12.2%;
      margin: 0;
      font-family: tahoma;
      position: relative;
    }

.navbar{
        padding-top: 15px;
      }

.py-3 {
    margin-left: 10px;
}

table {
    margin-left: 10px;
}

ul{
  font-style: italic;
  text-align: justify;
  font-size: 12px;
  font-family: fantasy;
}
ol{
  text-align: justify;
  font-size: 14px;
  font-family: fantasy;
  
}

.col-md-5{
  background-color: ghostwhite;
}

.objectif{ 
  font-size: 13px;
  font-style: italic;
  text-align: center;
  font-family: fantasy;
}

 footer {
    width: 340%;
    min-height: 12vh;
    background-color: ghostwhite;
    padding: 10px;
    color: blue;
    font-size: 15px;
    position: relative;
    text-align: center;
  }
